@page "/book_redact/{bookId:int}"
@using BookDesktop.Models
@using BookDesktop.Service
@using Classes
@using Microsoft.EntityFrameworkCore
@using System.Text.RegularExpressions
@inject AppDbContext dbcontext
@inject NavigationManager navigation
@inject AuthService authService
@inject BookChangeService bookService

@if (IsLoading)
{
    <div>Загрузка</div>
}
else
{
    @if (CanEscape)
    {
        <Menu/>
    }

    <div class="w-50 m-auto">
        <h3>Изменение книги</h3>

        @if (HasError)
        {
            <div class="d-flex border border-warning">
                <div class="p-2 w-100">
                    <p>@MessageError</p>
                </div>
                <div class="p-2 flex-shrink-1">
                    <button type="button" class="btn btn-warning" onclick="@(() => { HasError = false; MessageError = ""; InvokeAsync(StateHasChanged); })">
                        Закрыть
                    </button>
                </div>
            </div>
        }

        <EditForm Model="@bookLocal" OnValidSubmit="@BookCommit_change">
            <DataAnnotationsValidator/>
            <ValidationSummary/>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Название</label>
                <InputText class="form-control" @bind-Value="bookLocal.Name" id="exampleInputEmail1"/>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Автор</label>
                <InputSelect @bind-Value="bookLocal.AuthorId" class="form-control">
                    @foreach (var author in authors)
                    {
                        <option value="@author.Id">@author.Name</option>
                    }
                </InputSelect>
            </div>
            <div class="mb-3">
                @if (ShowGenres)
                {
                    <button type="button" class="btn btn-outline-secondary" onclick="@(() => { ShowGenres = !ShowGenres; InvokeAsync(StateHasChanged); })">Скрыть жанры</button>
                }
                else
                {
                    <button type="button" class="btn btn-outline-secondary" onclick="@(() => { ShowGenres = !ShowGenres; InvokeAsync(StateHasChanged); })">Отобразить жанры</button>
                }
                @if (ShowGenres)
                {
                    <div class="card text-bg-primary mb-3" style="width: 18rem;">
                        <ul class="list-group list-group-flush">
                            <div class="card-header">Жанры</div>
                            <div class="card-body">
                                <table>
                                    @foreach (var genre in genres)
                                    {
                                        <tr>
                                            <td>
                                                <input type="checkbox" class="list-group-item" @bind="checkedGenres[genre.Id]"/>
                                            </td>
                                            <td>
                                                <label>@genre.Name</label>
                                            </td>
                                        </tr>
                                        <br/>
                                    }
                                </table>
                            </div>
                        </ul>
                    </div>
                }
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Стоимость</label>
                <InputNumber class="form-control" @bind-Value="bookLocal.Price" id="exampleInputEmail1"/>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Количество</label>
                <InputNumber class="form-control" @bind-Value="bookLocal.Amount" id="exampleInputEmail1"/>
            </div>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </EditForm>
    </div>
}

@code {

    [Parameter] public int bookId { get; set; }

    public bool ShowGenres = false;

    public Dictionary<int, bool> checkedGenres = new();

    string MessageError = "";
    bool HasError = false;
    bool CanEscape = true;

    Book bookLocal = default!;
    bool IsLoading = true;
    List<Author> authors = new();
    List<Genre> genres = new();

    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        bookLocal = await dbcontext.Books.Include(x => x.Genres).FirstAsync(b => b.Id == bookId);
        authors = await dbcontext.Authors.ToListAsync();
        genres = await dbcontext.Genres.ToListAsync();
        foreach (var genre in genres)
        {
            checkedGenres.Add(genre.Id, bookLocal.Genres.Any(x => x.Id == genre.Id));
        }

        IsLoading = false;
        await InvokeAsync(StateHasChanged);
    }

    public async void BookCommit_change()
    {
        bookLocal.Name = Regex.Replace(bookLocal.Name, @"\s+", " ");
        if (bookLocal.Name == "" || bookLocal.Price < 0 || bookLocal.Amount < 0)
        {
            MessageError = "Ошибка при сохранении";
            HasError = true;
            CanEscape = false;
            InvokeAsync(StateHasChanged);
        }
        else
        {
            HasError = false;
            CanEscape = true;

            bookLocal.Genres.Clear();
            foreach (var id in checkedGenres.Where(x => x.Value).Select(x => x.Key))
            {
                bookLocal.Genres.Add(genres.First(x => x.Id == id));
            }

            bookLocal.LastRedactorId = authService.CurrentUser!.Id;


            dbcontext.Update(bookLocal);
            dbcontext.Logs.Add(new Log
            {
                Operation = $"Внесены изменения в книгу с Id = {bookLocal.Id}",
                UserId = authService.CurrentUser!.Id,
            });
            await dbcontext.SaveChangesAsync();
            navigation.NavigateTo("books");
        }
    }

}